$redlike: #db4c3f
$navbar-height: 3.25rem
$whitelike: #fff
$greylike: #fafafa

.App
  text-align: center
  background-color: $greylike

.App-logo
  animation: App-logo-spin infinite 20s linear
  height: 40vmin

.todo-quick-find
  color: $greylike

.is-bold
  font-weight: bold

.todo-navbar
  background-color: $redlike
  box-shadow: 0 1px 2px rgba(0,0,0,0.15)
  z-index: 30
  // I have ZERO idea why this makes the zindex take effect
  // but thats what seems to be happening
  position: relative
  width: 100%
  height: 58px

.todo-navbar-item
  paddingTop: 7px

.my-small-text
  font-size: 12px

.is-sidebar-menu
  padding: 2.5rem

.navbar-icons
  margin-right: 8px

.menu-list
  display: flex
  flex-direction: column

  li
    text-align: left

    a.highlighted
      background-color: $whitelike


.columns
  &.is-fullheight
    min-height: calc(100vh - ( #{$navbar-height} - .75rem ) )
    max-height: calc(100vh - ( #{$navbar-height} - .75rem ) )

.App-header
  background-color: #1f1f1f
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white

.App-link
  color: #61dafb

.my-content
  background-color: $whitelike
  padding: 40px
  border-left: 1px solid #f1f1f1
  border-right: 1px solid #f1f1f1

/* INBOX */

.inbox-title
  display: flex
  justify-content: space-between
  margin-bottom: 12px

.inbox-title-right
  display: flex
  margin-top: -4px
  align-items: center

.inbox-title-right-item
  cursor: pointer
  flex: 1 

.inbox-container
  text-align: left

.my-todo
  padding-top: 1em
  padding-bottom: 1em
  border-bottom: 1px solid #f1f1f1
  display: flex
  width: 100%

.my-todo-circle
  cursor: pointer
  text-align: left

.my-todo-check-mark
  width: 1px
  font-size: 8px
  opacity: 0
  transition: .3s
  margin-left: -12px
  margin-top: 6px
  cursor: pointer

.my-todo-check-mark:hover
  opacity: 1

.my-todo-name
  padding-left: 2em

.my-todo-comment
  padding-left: 2em
  cursor: pointer

.my-todo-moving-grip
  cursor: all-scroll
  margin-top: 1em
  padding-right: 1em

.my-todo-ellipsis
  cursor: pointer
  vertical-align: center
  margin-top: 1em
  margin-right: -1.25em
  padding-left: .5em


/* TODAY */

.today-container
  text-align: left

.add-task-hover
  color: #db4c3f

.add-task-no-hover
  color: #808080

.add-task-icon
  color: $redlike

.my-task-table
  border-radius: 3px
  border: 1px solid #ddd
  padding: 1px

  .my-placeholder
    position: absolute
    padding-left: .5em
    padding-top: .25em
    color: #ccc
    pointer-events: none
    animation: fadein 200ms

  td
    vertical-align: baseline

  input
    padding: .5em
    border: none
    font-size: inherit
    outline: none

  #date
    padding: .5em
    border-left: 1px solid #eee

  .input-default-value
    color: grey

.my-submit-table
  margin-top: 1em

  .my-add-task-button
    color: white
    font-weight: 400 
    background: #db4c3f
    border: none

  .my-add-task-button:hover
    background: darken(#db4c3f, 10%)

  .my-cancel-button
    border: none

  .my-cancel-button:hover
    text-decoration: underline

  .submit
    text-align: left

    span
      vertical-align: center


  .extra
    text-align: right

    .icons
      cursor: pointer
      opacity: .5
      margin-left: 3em

    .icons:hover
      opacity: 1

@keyframes App-logo-spin
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

@keyframes fadein
    from
      opacity: 0
    to
      opacity: 1
